@font-face{
  font-family: BarlowSemiCondensed;
  src: url(../fonts/BarlowSemiCondensed-Medium.ttf);
  font-weight: 500;
  font-display: swap;

}

@font-face{
  font-family: BarlowSemiCondensed;
  src: url(../fonts/BarlowSemiCondensed-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
}