@use "../config/variables" as *;
@use "../mixins/to" as *;

.card{
  background-color: $white;
  padding: 2rem;
  border-radius: .5rem;
  @include to($desktop){
    margin-bottom: 25px;
  }
  

  &__title{
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__comment{
    font-size: .8rem;
    opacity: .5;
    line-height: 1.4;
    font-weight: 500;
  }

  &--is-violet,
  &--is-gray,
  &--is-blue{
    color: $white;
  }

  &--is-violet{
    background-color: $moderate-violet;
  }

  &--is-gray{
    background-color: $very-dark-grayish-blue;
  }

  &--is-blue{
    background-color: $very-dark-blackish-blue;
  }

  &--bg-quotes{
    background-image: url(../assets/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x:  right 1.5rem;
  }

  $area-names:("daniel","jonathan","jeanette","patrick","kira");

  @each $user in $area-names{
    &--#{$user}{
      grid-area: #{$user}; 
    }
  }

}
