@use "../config/variables" as *;

body{
  font-family: BarlowSemiCondensed;
  padding-left:19px;
  padding-right: 19px;
  background-color: $light-grayish-blue;
  margin-top: 4.5rem;
  color: $very-dark-grayish-blue;
}

blockquote{
  padding: 0;
  margin: 0;
}
